<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.num.linechart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityAdmin"
            android:icon="@drawable/logo"
            android:label="eWC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsoWaterActivity"
            android:label="eWC- Consommation d&apos;eau" />
        <activity
            android:name=".WarningActivity"
            android:label="eWC- Alertes" />
        <activity
            android:name=".FlushActivity"
            android:label="eWC- Consommation Chasse d&apos;eau" />
        <activity
            android:name=".TapActivity"
            android:label="eWC- Consommation Robinet" />
        <activity
            android:name=".PrefsActivity"
            android:label="eWC" />
        <activity
            android:name=".SampleActivity"
            android:label="eWC" />
        <activity
            android:name=".LedActivity"
            android:label="eWC- Palette Couleur" />
        <activity
            android:name=".SettingsActivity"
            android:label="eWC- Réglages" />
        <activity android:name=".ReaderQRCodeActivity"></activity>
        <activity
            android:name=".MainActivityUser"
            android:label="eWC- Menu" />
    </application>

</manifest>